@font-face {
	font-family: Matchbook;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: BandaRegular;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OpenSansLight;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OpenSansLightItalic;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OpenSansRegular;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OpenSansItalic;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OpenSansSemibold;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OpenSansSemiboldItalic;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OpenSansBold;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OpenSansBoldItalic;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OpenSansExtrabold;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OpenSansExtraboldItalic;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Sofia;
	font-weight: normal;
	font-style: normal;
}
